<!DOCTYPE html>
<html lang="en">

<head>
  <title>Safe and Sound - Change Password</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
</head>

<body>
  <div class="page-header">
    <img src="./UPS.png" alt="Puget Sound Logo" class="responsive">
    <h1>Safe and Sound</h1>
  </div>
  <div class="center-block">
    <div class="container col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
      <div class="jumbotron">
        <h4>Please input the PIN and the new password below.</h4>
        <p>An email has been sent with the necessary information.  Once the password has changed, you will have to sign in again.</p>
      </div>
    </div>
  </div><br>
  <form method="post"><br>
    PIN:<br>
    <input type="number" name="PIN" required=""><br>
    New Password:<br>
    <input type="text" name="newPassword" required=""><br>
    <input type="submit" value="Change Password">
  </form>
  <!-- hash password client side-->
</body>

</html>
