doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
      | Safe and Sound
    br
    form(method='post')
      | Are you sure that you want to clear the database?
      br
      input(type='submit', value='Clear')
