doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
      | Safe and Sound
    br
    form(method='post')
      | Enter CLEARDB to confirm you would like to clear the database.
      br
      input(type="text", name="dbClear", required='')
      br
      input(type='submit', value='Clear')
