<!DOCTYPE html>
<html lang="en">

<head>
  <title>Safe and Sound - Clear Database</title>
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
</head>

<body>
  <div class="page-header">
    <img src="./UPS.png" alt="Puget Sound Logo" class="responsive">
    <h1>Safe and Sound</h1>
  </div>
  <div class="center-block">
    <div class="container col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
      <div class="jumbotron vertical-center">
        <h4>Enter <strong>CLEARDB</strong> to confirm you would like to clear the database.</h4>
      </div>
    </div>
  </div><br>
  <form method="post"><br>
    <input type="text" name="dbClear" required=""><br>
    <input type="submit" value="Clear">
  </form>
</body>

</html>
