doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
      img(src="../pugetSoundLogojpg.jpg" alt="Puget Sound Logo")
      br
      | Safe and Sound
      br
    h2
      | Thank you for filling out the form.
      br
      | Your information has been sent.
    br
    button(type='button', onclick="alert('Return to the page')") Return to Check In
