doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
      br
      | Safe and Sound
      br
    h2
      | The database has been cleared.
    br
    form(action='/security')
      input(type='submit', value='Return the Security portal')
