doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
      | Safe and Sound
    h2
      | Welcome to the Security Login Page!
      br
      | Please enter your credentials to continue.
    br
    form(method='post')
      | Username:
      br
      input(type='text', name='username', required='')
      br
      br
      | Password:
      br
      input(type='password', name='password', required='')
      br
      br
      input(type='submit', value='Login')
