<!DOCTYPE html>
<html lang="en">

<head>
  <title>Safe and Sound - Login</title>
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
</head>

<body>
  <div class="page-header">
    <img src="./UPS.png" alt="Puget Sound Logo" class="responsive">
    <h1>Safe and Sound</h1>
  </div>
  <div class="center-block">
    <div class="container col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
      <div class="jumbotron">
        <h4>Welcome to the Security Login Page!</h4>
        <p>Please enter your credentials to continue.</p>
      </div>
    </div>
  </div><br>
  <form method="post">Username:<br>
    <input type="text" name="username" required=""><br><br>Password:<br>
    <input type="password" name="password" required=""><br><br>
    <input type="submit" value="Login">
  </form>
</body>

</html>
