<!DOCTYPE html>
<html lang="en">

<head>
  <title>Safe and Sound - Security</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
</head>

<body>
  <div class="page-header">
    <img src="./UPS.png" alt="Puget Sound Logo" class="responsive">
    <h1>Safe and Sound</h1>
  </div>
  <br>
  <div class="center-block">
    <div class="container col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
      <div class="jumbotron">
        <h4>Safe and Sound Security Portal</h4>
        <p>Please select a button.</p>
      </div>
    </div>
  </div><br>
  <form method="post">
    <button type="submit" name="exportCSV" onclick="value=confirm('Click confirm to have a copy of the database sent to your email.')">Export Database</button><br><br>
    <button type="button" onclick="location='clearCheckin'">Clear Check-Ins</button><br><br>
    <button type="button" onclick="location='clearDatabase'">Clear All Databases</button><br><br>
    <button type="submit" name="changePassword" onclick="value=confirm('Click confirm to have a PIN sent to your email to change your password')">Change Admin Password</button><br>
  </form>
</body>

</html>
