<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Safe and Sound</h1>
  <h2>For University of Puget Sound Security Use Only<br>Please select what you would like to do:</h2><br>
  <button type="button" onclick="location='clearDatabase'">Clear Database</button><br>
  <form method="post">
    <button type="submit" name="secButtons" onclick="value=confirm('Click confirm to have a copy of the database sent to your email.')">Export Database</button><br>
    <button type="button" onclick="alert('Which student do you want to edit?')">Edit Student Values</button><br>
  </form>
</body>

</html>
