doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
      | Safe and Sound
    h2
      | Please fill out the following information
      br
      | to mark yourself safe during an emergency.
    br
    form(method='post')
      | First name:
      br
      input(type='text', name='firstname', placeholder='Grizz', required='')
      br
      br
      | Last name:
      br
      input(type='text', name='lastname', placeholder='Logger', required='')
      br
      br
      | Puget Sound Email:
      br
      input(type='text', name='email', value='@pugetsound.edu', required='')
      br
      br
      | Contact info (phone number):
      br
      input(type='text', name='phone', placeholder='2538793311', required='')
      br
      br
      br
      input(type='submit', value='Safe')
      #login
        |a(href='http://52.42.69.191/securityLogin') Security Login
