<!DOCTYPE html>
<html lang="en">

<head>
  <title>Safe and Sound</title>
  <script type="text/javascript" src="../scripts/studentFacingScripts.js"> </script>
  <script type="text/javascript"> getLoc(); </script>
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
</head>

<body>
  <div class="page-header">
    <img src="UPS.png" alt="Puget Sound Logo" class="responsive">
    <h1>Safe and Sound
    </h1>
  </div>
  <div class="alert alert-danger" role="alert">
    <h3><strong>DISCLAIMER:</strong> This is NOT a replacement for emergency services.  If you are unsafe, please call 911.</h3>
  </div>
  <div class="container col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
    <div class="jumbotron">
      <h4>
        Please fill out the following information
        to mark yourself safe during an emergency.
      </h4>
    </div>
  </div><br>
  <form name="studentFF" method="post" onsubmit="return validateForm()"> First name:<br>
    <input type="text" name="firstname" placeholder="Grizz" required=""><br>
    <br>Last name:<br>
    <input type="text" name="lastname" placeholder="The Bear" required=""><br>
    <br>Puget Sound Email:<br>
    <input type="text" name="email" placeholder="grizzbear" required="">
      <span>@pugetsound.edu</span>
    <br>
    <br>Contact info (10-15 digit phone number):<br>
    <input type="text" name="phone" placeholder="(123) 456-7890" required="">
    <input hidden type="text" name="lat" id="lat" value="0.0000000"><br>
    <input hidden type="text" name="lng" id="lng" value="0.0000000"><br>
    <input type="submit" value="Safe">
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
