<!DOCTYPE html>
<html lang="en">

<head>
  <title>Safe and Sound - Verify</title>
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
</head>

<body>
  <div class="page-header">
    <img src="UPS.png" alt="Puget Sound Logo" class="responsive">
    <h1>Safe and Sound</h1>
  </div>
  <div class="center-block">
    <div class="container col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
      <div class="jumbotron">
        <h4>
          Thank you for marking yourself safe.
        </h4>
        <p>Your information has been sent to Security Services. Please verify you are safe by clicking the link sent to your email.</p>
      </div>
    </div><br>
    <form action="/">
      <!--PIN: <br>
      <input type="text" value=""> <br>-->
      <input type="submit" value="Return to Check In">
    </form>
  </div>
</body>

</html>
