doctype html
html(lang='en')
  head
    // link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width = device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    style.
      body {
        text-align: center;
      }
      .jumbotron {
        background-color: lightgray;
      }
      .page-header {
        background-color: rgb(81, 0, 0);
        color: white;
      }
      input {
        padding: 5px 5px;
        margin: 5px 0px;
      }
      input[type=submit] {
        background-color: #4CAF50;
        font-size: 18px;
        padding: 16px 32px;
        border-radius: 8px;
        color: #ffffff;
      }
      #login {
        position: fixed;
        bottom: 0;
        color: #808080;
      }
  body
    .page-header
      img(src='./UPS.png', alt='Puget Sound Logo')
      h1 Safe and Sound
    .center-block
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .jumbotron
          h4
            | Please fill out the following information
            | to mark yourself safe during an emergency.
    br
    form(method='post')
      | First name:
      br
      input(type='text', name='firstname', placeholder='Grizz', required='')
      br
      br
      | Last name:
      br
      input(type='text', name='lastname', placeholder='The Bear', required='')
      br
      br
      | Puget Sound Email:
      br
      input(type='text', name='email', value='@pugetsound.edu', required='')
      br
      br
      | Contact info (phone number):
      br
      input(type='text', name='phone', placeholder='2538793311', required='')
      br
      br
      br
      input(type='submit', value='Safe')
    #login
      a.btn.btn-link.btn-lg(href='/securityLogin', role='link') Security Login
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
