body {
  text-align: center;
}
.jumbotron {
  background-color: lightgray;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 3px;
}
.page-header {
  background-color: rgb(102, 0, 0);
  color: white;
}
input {
  padding: 5px 5px;
  margin: 5px 0px;
}
input[type=submit] {
  background-color: #4CAF50;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 8px;
  color: #ffffff;
}
button {
  font-size: 16px;
  padding: 16px 32px;
  background-color: #e7e7e7;
  border-radius: 8px;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.responsive {
  max-width: 150px;
  height: auto;
}
