body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D7D7D7;
}
h1 {
  background-color: rgb(81, 0, 0);
  color: #C0C0C0;
}
h2 {
  background-color: rgb(81, 0, 0);
  color: #C0C0C0;
}
#login {
  position: fixed, bottom: 0;
  color: 808080;
}
input {
  padding: 5px 5px;
  margin: 5px 0px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: #C0C0C0;
  font-size: 18px;
  padding: 16px 32px;
}
